{% extends "../hotelapp/base.html" %}

{% if user.is_authenticated %}
    <div class="alert alert-success" role="alert">
        <h3>Welcome {{ user.username }}!</h3>
        <a href="{% url 'profile' %}">Profile</a>
        <a href="{% url 'logout' %}">Logout</a>
    </div>
{% else %}
    <div class="alert alert-success" role="alert">
        <h3>Welcome to our hotel!</h3>
        <a href="{% url 'register' %}">Signup</a>
        <a href="{% url 'login' %}">Login</a>
    </div>
{% endif %}
<br>
{% for rm in room %}

<a href="{% url 'roomInfo' rm.id %}"">{{rm.name}}</a>
<br>

{% endfor %}


<header class="page-header page-header-mini">

    <div class=".fixed-bg"></div>
    <h1 class="title">Home</h1>
    <ol class="breadcrumb pb-0">
        <li class="breadcrumb-item"><a href="..index.html">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Got other queries? Contact us.</li>
    </ol>
</header>
<!-- End Of Page Header -->