<link rel="stylesheet" href="assets/css/joeblog.css">

   <!-- Page Header -->
   <header class="header header-mini"> 
    <div class="header-title">Components</div> 
    <nav aria-label="breadcrumb">
       <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Components</li>
       </ol>
    </nav>
 </header> <!-- End Of Page Header -->

{% if user.is_authenticated %}
    <div class="alert alert-success" role="alert">
        <h3>Welcome {{ user.username }}!</h3>
        <a href="{% url 'profile' %}">Profile</a>
        <a href="{% url 'logout' %}">Logout</a>
    </div>
{% else %}
    <div class="alert alert-success" role="alert">
        <h3>Welcome to our hotel!</h3>
        <a href="{% url 'register' %}">Signup</a>
        <a href="{% url 'login' %}">Login</a>
    </div>
{% endif %}
<br>
{% for rm in room %}

<a href="{% url 'roomInfo' rm.id %}"">{{rm.name}}</a>
<br>

{% endfor %}

<a href="{% url 'about' %}">about</a>
<br>

<a href="{% url 'faq' %}">faq</a>
<br>