{% block content %}

<p>Room Name: {{ room.name }}</p>
<p>Floor: {{ room.floor }}</p>

{% if user.is_superuser %}
    <p>Room clean: 
        {% if room.clean_status == '1'%}
            True
        {% else %}
            False
            <button>Cleaned</button>
        {% endif %}
    </p>
    
{% endif %}

{% if user.is_authenticated %}
    {% if not user.is_superuser and taken != True %}
        <form action="" method="POST">
        {% csrf_token %}
            <div>
                <p>Start Date: <br> {{ form.start_date }}</p> 
                <p>End Date: <br> {{ form.end_date }}</p> 
                {% for error in form.errors %}
                    <small style="color: red">{{ error }}</small>
                {% endfor %}
            </div>
        <button type="submit">Reserve</button>
    {% endif %}
{% else %}
<b>Login to reserve</b>
{% endif %}
{% endblock content %}